.archive li {
  font-size: 1.1em;
}

.archive time {
  display: inline-block;
  min-width: 10ch;
  margin: 0 .2em;
}

.hidden {
  display: none;
}

.fa, .fab, .fad, .fal, .far, .fas {
  margin-right: 1.2em;
}
