.bright {
  box-shadow: 0 0 .6em #3c3c3c0f;
  border-bottom: 1px solid #9494941f;
}

.dark {
  background: #2b2b2b;
  color: #fff;
  border-bottom: 1px solid #fff1;
}

.archive li {
  font-size: 1.1em;
  padding: .3em;
}

.archive time {
  display: inline-block;
  min-width: 9ch;
  margin: 0 .25em;
  opacity: .75;
}
