@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"), local("PTSans-Regular"), url("../PT-Sans/regular-cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"), local("PTSans-Regular"), url("../PT-Sans/regular-cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"), local("PTSans-Regular"), url("../PT-Sans/regular-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"), local("PTSans-Regular"), url("../PT-Sans/regular-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../PT-Sans/bold-cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../PT-Sans/bold-cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../PT-Sans/bold-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../PT-Sans/bold-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: calc(0.85rem + 0.2vw);
  line-height: 1.6;
}

p {
  text-align: justify;
}

a {
  color: #f08;
  text-decoration: inherit;
  transition: 0.2s;
}
a:hover {
  text-decoration: underline;
}
header a, footer a, aside a {
  color: inherit;
}

hr {
  border: 1px dashed;
  margin: 2em 0;
}

footer {
  margin-top: auto;
}

blockquote {
  background: rgba(136, 136.5, 139.5, 0.14);
  border-left: 3px solid rgba(136, 136.5, 139.5, 0.8);
  padding: 1px 1.5em;
  opacity: 0.75;
}

blockquote, figure {
  margin: 1.25em 0;
}

img {
  margin: 0.5em 0;
  border-radius: 4px;
  max-width: 100%;
}

li {
  margin: 0.3em 0;
}

table {
  display: inline-block;
  max-width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
  border-radius: 2px;
}

th, td {
  padding: 0.5em 1em;
  border: 1px solid rgba(136, 136.5, 139.5, 0.24);
}

thead, tr:hover td, tr:hover th {
  background: rgba(136, 136.5, 139.5, 0.12);
}

pre:not(pre pre) {
  font-size: 0.8em;
  background: rgba(136, 136.5, 139.5, 0.16);
  border-radius: 4px;
  margin: 1.5em 0;
  padding: 0.8em 1.2em;
  overflow-x: auto;
}

code:not(pre code) {
  font-size: 0.9em;
  background: rgba(136, 136.5, 139.5, 0.16);
  border-radius: 3px;
  margin: 0 0.1em;
  padding: 0.2em 0.4em;
  opacity: 0.75;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

body > header, body > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body > header h1, body > footer h1 {
  font-size: 1.35em;
  margin: 0;
}

nav {
  margin: 0.5em -1.3em;
}
nav > a {
  display: inline-block;
  margin: 0 1.3em;
}
nav svg {
  font-size: 1.1em;
  vertical-align: sub;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

article {
  flex-grow: 1;
}
article > header h1 {
  font-size: 1.8em;
  margin: 0;
}

.highlight pre {
  background: rgb(48.7195121951, 51.5853658537, 68.7804878049)!important;
}

body {
  display: block;
  padding: 0 calc(40% - 16rem);
}

body > * {
  margin: 2em 1.5em;
}

body > header a, body > footer a {
  font-weight: bold;
}
body > header a:hover, body > footer a:hover {
  color: #f08;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(25.4585365854, 26.956097561, 35.9414634146);
    color: #ffffff;
  }
}
