body {
  font: calc(0.8rem + 0.2vw)/1.6 "PT Sans", system-ui, sans-serif;
  background: light-dark(white, rgb(33.9170731707, 35.912195122, 47.8829268293));
  color: light-dark(#111218, white);
}

p {
  text-align: justify;
}

a {
  color: light-dark(#46f, #38f);
  text-decoration: inherit;
  transition: 0.25s;
}
article a:hover {
  text-decoration: underline;
}
header a, footer a, aside a {
  color: inherit;
}

hr {
  border: 1px dashed;
  margin: 2em 0;
}

footer {
  margin-top: auto;
}

blockquote {
  background: rgba(136, 136.5, 139.5, 0.1);
  color: light-dark(rgb(69.8658536585, 73.9756097561, 98.6341463415), rgb(219.2926829268, 220.7804878049, 229.7073170732));
  border-left: 3px solid rgba(136, 136.5, 139.5, 0.6);
  padding: 1px 1.5em;
}

blockquote, figure {
  margin: 1.25em 0;
}

img {
  margin: 0.5em 0;
  border-radius: 4px;
  max-width: 100%;
}

li {
  margin: 0.3em 0;
}

table {
  display: inline-block;
  max-width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
  border-radius: 2px;
}

th, td {
  padding: 0.5em 1em;
  border: 1px solid rgba(136, 136.5, 139.5, 0.24);
}

thead, tr:hover td, tr:hover th {
  background: rgba(136, 136.5, 139.5, 0.12);
}

pre:not(pre pre) {
  font-size: 0.8em;
  background: rgba(136, 136.5, 139.5, 0.16);
  border-radius: 4px;
  margin: 1.5em 0;
  padding: 0.8em 1.2em;
  overflow-x: auto;
}

code:not(pre code) {
  font-size: 0.9em;
  background: rgba(136, 136.5, 139.5, 0.16);
  border-radius: 3px;
  margin: 0 0.1em;
  padding: 0.2em 0.4em;
  opacity: 0.75;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

body > header, body > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.75em;
  margin: 0;
}
body > header h1 {
  font-size: 1.35em;
}

nav {
  margin: 0.5em -1.3em;
}
nav a {
  font-weight: bold;
  display: inline-block;
  margin: 0 1.3em;
}
nav svg {
  font-size: 1.1em;
  vertical-align: sub;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

article {
  flex-grow: 1;
}

.full {
  font-size: 1.5em;
  width: 100%;
  margin: 0.1em 0 0.7em;
}

.katex-display {
  overflow: auto hidden;
}

.highlight pre {
  background: rgb(48.7195121951, 51.5853658537, 68.7804878049)!important;
}

body {
  padding: 1em calc(40% - 16em);
}
body > * {
  margin: 1em 1.5em;
}
body > header a:hover, body > footer a:hover {
  color: #f08;
}
